<h1>Eat da BURGER!</h1>

<h2>Burgers to Aat</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Build a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newBurger">Burger Name:</label>
    <input type="text" id="food" name="name">
    <button type="submit">Build it</button>
  </div>

  <div class="button btn">
    <label for="devoured">Devoure?</label><br>
  </div>

</form>